.jumbotron {
    background-image: url('../images/home.jpeg');
    height:790px;
    background-size: cover;    
}
.mainmenu{
    background-color: teal;   
}
.mainmenu ul li{
    display: inline-block;
    padding-left: 80px;
    padding-right: 40px;
    color: white;
    margin: 4px;   
}
.jumbotron h1{
    text-align: center;
    color: white;
    
}